* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lavender;
    padding: 8px;
}

#menu {
    margin-bottom: 8px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    background-color: white;
}

.cube {
    background-color: rgb(177, 177, 254);
    border: 1px solid white;
}