* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --body-bg: lavender;
    --container-bg: white;
    --cube-bg: rgb(177, 177, 254);
    --hover-bg: crimson;
}

body {
    background-color: var(--body-bg);
    padding: 8px;
}

#menu {
    margin-bottom: 8px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    background-color: var(--container-bg);
}

.cube {
    background-color: var(--cube-bg);
    border: 1px solid var(--container-bg);
}