* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --container-bg: white;
    --cube-bg: cornflowerblue;
    --hover-bg: crimson;
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    background-color: var(--container-bg);
}

.cube {
    background-color: var(--cube-bg);
    border: 1px solid var(--container-bg);
}

.hovered {
    background-color: var(--hover-bg);
}